// 通用類別

.container{
    margin: 0 auto;
    max-width: 1110px;
    width: 100%;
}

.bold {
    font-weight: bold;
}

a{
    text-decoration: none;
    display: block;
}

body{
    @include content-font;
}

input{
    box-sizing: border-box;
    border: 2px solid #916000;
}

.bg{
    background-size: cover;
    background-repeat: no-repeat;
}

.btn{
    border: 2px solid white;
    border-radius: 50px;
    margin: 0 auto;
    text-align: center;
}

.more{
    font-size: $px-4;
    margin-top: 16px;
    color: #AC8A46;
    &:hover{
        color: #d19318;
    }
}