// 商品列表一
.index-product-list1{
    margin-top: 60px;
}
.txt2{
    font-size: $px-5;
    h3{
        font-size: $px-8;
    }
}
.txt3{
    margin-top: 52px;
    font-size: $px-6;
    p{
        font-size: $px-4;
        margin-top: 4px;
    }
}
.img_container1{
    height: 555px;
    object-fit: cover;
    object-position: center;
}
.img_container2{
    height: 1080px;
    object-fit: cover;
}
.pd3{
    object-position: -80px;
}
.index-product-list1-long .btn{
    margin-top: 60px;
    border: 2px black solid;
    padding: 18px;
    font-size: $px-5;
    color: black;
    &:hover{
        background-color:rgba(0, 0, 0, 0.055);
    }
}

@include pad-992{
    .img_container1, .img_container2{
        background-position: center;
        margin: 0 auto;
        margin-top: $px-8;
    }
    .txt2{
        margin-top: 8px;
    }
    .more{
        margin-top: $px-2;
    }
}

@include iphone6{
    .index-product-list1{
        margin-top: 12px; //40-32
    }
    .img_container1{
        height: 350px;
    }
    .img_container2{
        height: 680px;
    }
    .txt2{
        margin-top: $px-2;
    }
    .txt3{
        margin-top: 10px;
        margin-bottom: $px-5;
    }
}

// 商品列表二(灰色)
.bc-gray{
    background-color:#E0E0E0;
    margin-top: $px-15;
    padding: 40px 0;
    font-size: $px-4;
}
.img_container3{
    height: 540px;
    object-fit: cover;
    object-position: center;
}
h3{
    font-size: $px-6;
}
.price{
    margin-top: $px-4;
}
.original-price{
    margin-left: $px-2;
    color: #8D8D8D;
    text-decoration: line-through;
}
@include pad-992{
    .bc-gray{
        margin-top: 40px;
        padding:0;
        padding-bottom: $px-9;
        ul{
            flex-direction: column;
            align-items: center;
        }
        li{
            margin-top: $px-6;
        }
        .price{
            margin-top: $px-1;
        }
    }
}

//商品列表三
.tst{
    border: 1px solid black;
}
.txt4-container{
    margin-top: 142px;
}
.txt4{
    font-size: $px-4;
    h3{
        font-size: $px-8;
    }
    p{
        margin-bottom: $px-4;
    }
    .more{
        margin-top: 8px;
    }
}
.img_container4{
    height: 520px;
    object-fit: cover;
    object-position: center;
    margin-top: $px-15;
}

@include pad-992{
    .txt4 p{
        margin-bottom: $px-2;
    }
    .img_container4{
        margin-top: $px-10;
    }
    .txt4-container{
        margin-top: $px-2;
    }
}
