// bar
.top-bar{
    // position: fixed; 會影響後面元素高度
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    background-color: white;
    border-bottom: 3px solid #8D8D8D;
    border-radius: 0 0 3px 3px;
    .container{
        align-items: center;
    }
}
.logo{
    width: $px-1*32;
    height: 38px;
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/d%E2%80%99Perfume.png");
    @include logo-hidden;
}
.tools li, .rwd-menu li{
    margin-left: $px-8;
    padding: 20px 0;
    a{
        color: #8D8D8D;
        .material-icons{
            vertical-align: text-top;// 跟文字對齊
            width: 16px;
            height: 16px;
            padding-right: $px-2;
            color: #8D8D8D;
        }
        &:hover,.material-icons:hover{
            color: #000000;
        }
    }
}
.hamburger{
    color: #8D8D8D;
    margin-right: 10px;
    &:hover{
        cursor: pointer;
    }
}
.rwd-cart{
    position: relative;
    .num{
        font-size: $px-3;
        line-height: 1px;
        text-align: center;
        position: absolute;
        display: block;
        top: 13px;
        right: -20px;
        background-color: #916000;
        color: white;
        padding: 8px;
        border-radius: 50%;
    }
}
.rwd-menu-list{
    display: none;
    position: absolute;
    top: 100%; // 位置就會在整個有 position: relative; 的高度下方
    left: 0;
    right: 0;
    margin: 0 auto;
    li{
        text-align: center;
        border-bottom: 1px solid white;
        background-color: #707070;
        &:hover{
            background-color: #000000;
        }
    }
    a{
        // 不要把padding放在li，放在a可以增加點擊範圍
        padding: 6px 0; //16-(30-20)
        width: 100%;
        color: white;
    }
}

// banner
.banner{
    margin: 0 auto;
    height: 870px;
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/index1.jpg");
    background-position: center;
    background-attachment: fixed;
}
.txt1{
    color: white;
    h2{
        font-size: $px-10;
    }
    p{
        font-size: $px-6;
    }
    a{
        font-size: $px-7;
        color: white;
        padding: 13px 0px;
        margin-top: 20px;
        &:hover{
            background-color: rgba(255, 255, 255, 0.205);
        }
    }
}
// X-Small
@include iphone6{
    .banner{
        height: 480px;
        background-position: -150px 10px;
        .container{
            justify-content: center;
        }
    }
}

// 商品列表一
.product-list1{
    margin-top: 60px;
}
.txt2{
    font-size: $px-5;
    h3{
        font-size: $px-8;
    }
}
.txt3{
    margin-top: 52px;
    font-size: $px-6;
    p{
        font-size: $px-4;
        margin-top: 4px;
    }
}
.img_container1{
    height: 555px;
    object-fit: cover;
    object-position: center;
}
.img_container2{
    height: 1080px;
    object-fit: cover;
}
.pd3{
    object-position: -80px;
}
.product-list1-long .btn{
    margin-top: 60px;
    border: 2px black solid;
    padding: 18px;
    max-width: 350px;
    font-size: $px-5;
    color: black;
    &:hover{
        background-color:rgba(0, 0, 0, 0.055);
    }
}

@include pad-992{
    .img_container1, .img_container2{
        background-position: center;
        margin: 0 auto;
        margin-top: $px-8;
    }
    .txt2{
        margin-top: 8px;
    }
    .more{
        margin-top: $px-2;
    }
}

@include iphone6{
    .product-list1{
        margin-top: 12px; //40-32
    }
    .img_container1{
        height: 350px;
    }
    .img_container2{
        height: 680px;
    }
    .txt2{
        margin-top: $px-2;
    }
    .txt3{
        margin-top: 10px;
        margin-bottom: $px-5;
    }
}

// 商品列表二
.bc-gray{
    background-color:#E0E0E0;
    margin-top: $px-15;
    padding: 40px 0;
    font-size: $px-4;
    h3{
        font-size: $px-6;
        margin-top: $px-2;
    }
    .price{
        margin-top: $px-4;
        span{
            margin-left: $px-2;
            color: #8D8D8D;
            text-decoration: line-through;
        }
    }
    .img_container3{
        height: 540px;
        object-fit: cover;
        object-position: center;
    }
}
@include pad-992{
    .bc-gray{
        margin-top: 40px;
        padding:0;
        padding-bottom: $px-9;
        ul{
            flex-direction: column;
            align-items: center;
        }
        li{
            margin-top: $px-6;
        }
        .price{
            margin-top: $px-1;
        }
    }
}

//商品列表三
.tst{
    border: 1px solid black;
}
.txt4-container{
    margin-top: 142px;
}
.txt4{
    font-size: $px-4;
    h3{
        font-size: $px-8;
    }
    p{
        margin-bottom: $px-4;
    }
    .more{
        margin-top: 8px;
    }
}
.img_container4{
    height: 520px;
    object-fit: cover;
    object-position: center;
    margin-top: $px-15;
}

@include pad-992{
    .txt4 p{
        margin-bottom: $px-2;
    }
    .img_container4{
        margin-top: $px-10;
    }
    .txt4-container{
        margin-top: $px-2;
    }
}

// footer banner
.footer-banner{
    margin-top: 60px;
    height: 600px;
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/index10.jpg");
    background-position: center;
    flex-direction: column;
    justify-content:  flex-end;
    .txt5{
        color: #8D8D8D;
        font-size: $px-8;
    }
    .subscribe{
        width: 350px;
        margin-bottom: 112px;
        input{
            height: 60px;
            box-sizing: border-box;
            margin-top: $px-5;
            border: 2px solid #916000;
        }
    }
    .mail{
        max-width: 219px; // 350-131
        width: 100%;
        padding: 20px 57px 21px 16px;
        font-size: $px-4;
    }
    .subscribeBtn{
        max-width: 131px;
        width: 100%;
        height: 60px;
        background-color: #916000;
        color: white;
        border-radius: 0px 4px 4px 0px;
        &:hover{
            cursor: pointer;
            background-color: #6C4700;
        }
    }
}

@include pad-992{
    .footer-banner{
        margin-top: 40px;
        background-position: left;
        h2, .subscribe{
            margin-left: 20px;
        }
    }
    .mail{
        width: 216px;
    }
    .subscribeBtn{
        width: 129px;
    }  
}
@include iphone6{
    .footer-banner{
        h2, .subscribe{
            margin-left: 0px;
        }
    }
}

// footer
.footer{
    background-color: #916000;
    color: white;
    .margin-top-bottom-32{
        margin-top: 32px;
        margin-bottom: 32px;
    }
    .logo{
        margin-top: 20px;
        background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/d%E2%80%99Perfumewhite.png");
    }
}
.txt6{
    font-size: 14px;
    margin-left: 20px;
}
.social{
    a{
        // 增加點擊範圍，用padding
        padding-left: $px-9;
        font-size: $px-5;
        color: white;
        &:hover{
            color: #E0E0E0;
        }
    }
}

@include pad-992{
    .logo{
        margin-left: 20px;
    }
    .social{
        margin-right: 20px;
    }
}
@include phone-576{
    .social{
        display: none;
    }
}

@include iphone6{
    .logo{
        margin: 0;
    }
}